a.link_chamada{
  text-decoration: none;
  color: #999;
  font-weight: bold;
}

a.link_chamada:hover{
  color: #000;
}

/*Glyphicon size*/
  .gi-2x{font-size: 2em;}

  .gi-3x{font-size: 3em;}

  .gi-4x{font-size: 4em;}

  .gi-5x{font-size: 5em;}
